<div class="container">
  <div class="row">
    <div class="col">
      <h3><b>Update your Password</b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form #formRef="ngForm" (ngSubmit)="updatePassword(formRef)">
        <div class="form-group">
          <input type="password" ngModel required name="currentpassword" id="currentpassword" placeholder="Current Password" class="form-control" maxlength="23" autocomplete="off"/>
        </div>
        <br/>
        <div class="form-group">
          <input type="password" ngModel required name="newpassword" id="newpassword" placeholder="New Password" class="form-control" maxlength="23" autocomplete="off"/>
        </div>
        <br/>
        <div class="form-group">
          <input type="password" ngModel required name="confirmpassword" id="confirmpassword" placeholder="Confirm Password" class="form-control" maxlength="23" autocomplete="off"/>
        </div>
        <br/>
        <div class="form-group" *ngIf="formRef.value.newpassword !== formRef.value.confirmpassword">
          <div class="alert alert-danger">
            <strong> New password and Confirm password should match!!</strong>
          </div>
          <br/>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-warning btn-lg w-100-pc" [disabled]="formRef.invalid || formRef.value.newpassword !== formRef.value.confirmpassword"><i class="fa fa-user" aria-hidden="true">&nbsp;Update Password</i></button>
        </div>
        <br/>
      </form>
    </div>
  </div>
</div>
