  <div id="mySidenav" class="sidenav bg-dark" *ngIf="isSideNavVisible">
  <button type="button" class="btn btn-primary closebtn" (click)="toggleSideBar()"><i class="fa fa-bars"></i></button>
    <a routerLink=""  (click)="toggleSideBar()"><i class="enable-notifications" aria-hidden="true"></i>&nbsp;Enable Notification</a>
  <a routerLink="home" (click)="toggleSideBar()"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>&nbsp;Bet</a>
  <a routerLink="editBet" (click)="toggleSideBar()"><i class="fa fa-book" aria-hidden="true"></i>&nbsp;My Bets</a>
  <a routerLink="history" (click)="toggleSideBar()"><i class="fa fa-history" aria-hidden="true"></i>&nbsp;History</a>
  <a routerLink="editBet" (click)="toggleSideBar()"><i class="fa fa-money" aria-hidden="true"></i>&nbsp;Wallet -{{getWalletAmount()}}</a>
  <a routerLink="changePassword" (click)="toggleSideBar()"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Change Password</a>
  <a routerLink="admin/updateResult" *ngIf="userInformation.IsAdmin" (click)="toggleSideBar()"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Update Result</a>
  <a routerLink="admin/addUser" *ngIf="userInformation.IsAdmin" (click)="toggleSideBar()"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;Add User</a>
</div>
<nav class="navbar bg-dark navbar-dark">
    <ul class="navbar-nav mr-1 ml-0">
      <li class="nav-item" *ngIf="!!userInformation">
        <button type="button" class="btn btn-primary" (click)="toggleSideBar()"><i class="fa fa-bars"></i></button>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngIf="!!userInformation">
        <button type="button" class="btn btn-primary" (click)="onHomeClick()"><i class="fa fa-home"></i></button>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!!userInformation">
        <a style="cursor: pointer;color: white" (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Out</a>
      </li>
    </ul>
</nav>
