<div class="container">
  <div class="row">
    <div class="col-md-12 alert alert-danger">{{title}}</div>
    <!--<div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> Indicates a successful or positive action.
    </div>-->
  </div>
  <hello-directive></hello-directive>
  <!--<two-way-binding *ngFor="let arrayd of inputArray"> </two-way-binding>-->
  <!--<warning></warning>
  <app-success-component></app-success-component>-->
</div>
