<div class="container">
  <div class="row">
    <div class="col-md-12 alert alert-danger">{{title}}</div>
    <!--<div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Success!</strong> Indicates a successful or positive action.
    </div>-->
  </div>
  <button class="btn btn-primary" (click)="onButtonClickForNgChangeDemo()">onButtonClickForNgChangeDemo</button>
  <button class="btn btn-primary" (click)="onButtonClickForDoCheckDemo()">onButtonClickForDoCheckDemo</button>

  <button class="btn btn-danger" (click)="onButtonClickForOnDestroy()">onButtonClickForOnDestroy</button>
  <!--<hello-directive [inputElement]="{'name':'vv','type':'sdf','content':'sdf'}"></hello-directive>-->
  
  <hello-directive [inputElemen]="simpleText" *ngIf="toggleComponent"><p #contentchilddemo> NG CONTENT INIT DEMO </p></hello-directive>
  <!--<two-way-binding *ngFor="let arrayd of inputArray"> </two-way-binding>-->
  <!--<warning></warning>
  <app-success-component></app-success-component>-->
</div>
