
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body m-auto">
          <!--<div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              Select the Match
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>

              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>

              <a class="dropdown-item" href="#">RCB vs KKR 20-Sep 7:30PM</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>

              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>

              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </div>-->
          <form>
            <div class="form-group">
              <select name="matches" class="custom-select-lg form-control" placeholder="SEELE">
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
                <option value="default">RCB vs KKR 20-Sep 7:30PM</option>
              </select>
            </div>
            <br />
            <h4 class="ml-4"> Select the team!</h4>
            <div class="form-group">

              <div class="btn-group-vertical w-100-pc" >
                <button type="button" class="btn btn-primary btn-lg form-control" value="RCB">RCB</button>
                <button type="button" class="btn btn-primary btn-lg form-control" value="MI">MI</button>
              </div>

            </div>
            <h5 class="ml-4"> You selected </h5>
            <br />
            <h5 class="ml-4">
              Select the <i class="fa fa-inr" aria-hidden="true"></i>&nbsp;to bet
            </h5>
            <div class="form-group">
              <select id="betValue" name="betValue" class="custom-select-lg form-control">
                <option value="10">10</option>
                <option value="25">20</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
            <div class="form-group">
             
              <button type="submit" class="btn btn-success btn-lg w-100-pc"><i class="fa fa-usd" aria-hidden="true">&nbsp;BET</i></button>
            </div>
          </form>
        </div>
        </div>
    </div>
  </div>
</div>

